Repository spawlov/FastAPIAuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, isort, black

.pre-commit-config.yaml:

repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-byte-order-marker
      - id: detect-private-key
      - id: check-ast
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [ python ]
        args:
          - --max-line-length=120
        exclude: ./alembic/

      - id: isort
        name: isort
        entry: isort .
        language: system
        types: [ python ]

      - id: black
        name: black
        entry: black .
        language: system
        types: [ python ]
        args:
          - --line-length=120

Installed pytest with httpx, pytest-asyncio, pytest-cov
  poetry.lock
  pyproject.toml
Due: none

Created tests for login endpoint
  pyproject.toml
  src/api/api_v1/auth/auth.py
  src/api/api_v1/auth/tests/__init__.py
  src/api/api_v1/auth/tests/conftest.py
  src/api/api_v1/auth/tests/mock_data.py
  src/api/api_v1/auth/tests/test_login.py
Due: flake8, isort, black

Updated greenlet
  poetry.lock
  pyproject.toml
Due: none

Changed main.py
  src/main.py
Due: flake8, isort, black

Created test logout
  src/api/api_v1/auth/tests/conftest.py
  src/api/api_v1/auth/tests/mock_data.py
  src/api/api_v1/auth/tests/test_logout.py
Due: flake8, isort, black

Moved params to body
  src/api/api_v1/auth/tests/test_logout.py
Due: flake8, isort, black

Corrected import
  src/api/api_v1/auth/tests/test_logout.py
Due: flake8, isort, black

Added typing
  src/api/api_v1/auth/tests/test_logout.py
Due: flake8, isort, black

Created refresh test
  src/api/api_v1/auth/tests/test_refresh.py
Due: flake8, isort, black

Added name for argument
  src/api/api_v1/auth/tests/test_refresh.py
Due: flake8, isort, black

Moved tests to src directory
  pyproject.toml
  src/core/models/base.py
  src/tests/__init__.py
  src/tests/api/__init__.py
  src/tests/api/api_v1/__init__.py
  src/tests/api/api_v1/auth/__init__.py
  src/tests/api/api_v1/auth/conftest.py
  src/tests/api/api_v1/auth/mock_data.py
  src/tests/api/api_v1/auth/test_login.py
  src/tests/api/api_v1/auth/test_logout.py
  src/tests/api/api_v1/auth/test_refresh.py
Due: flake8, isort, black

Added camel_case_to_snake_case converter
  src/core/models/base.py
  src/utils/case_converter.py
Due: flake8, isort, black

Added camel_case_to_snake_case converter
  src/api/api_v1/auth/tests/__init__.py
  src/utils/__init__.py
Due: flake8, isort, black

Added camel_case_to_snake_case converter
  src/alembic/versions/2025_06_02_2133-e69e73e156d7_create_tokenblacklist_table.py
Due: isort, black

Added check for availability and type token_payload
  src/api/api_v1/auth/utils.py
Due: flake8, isort, black

Added test for get me endpoint
  src/tests/api/api_v1/auth/test_get_me.py
Due: flake8, isort, black

Added test for encode and decode jwt
  src/tests/unit/__init__.py
  src/tests/unit/api/__init__.py
  src/tests/unit/api/api_v1/__init__.py
  src/tests/unit/api/api_v1/auth/__init__.py
  src/tests/unit/api/api_v1/auth/conftest.py
  src/tests/unit/api/api_v1/auth/test_encode_decode_jwt.py
Due: flake8, isort, black

Added test for test_get_current_token_payload
  src/tests/unit/api/api_v1/auth/test_get_current_token_payload.py
Due: flake8, isort, black

Moved integration tests to integration dir
  src/tests/integration/__init__.py
  src/tests/integration/api/__init__.py
  src/tests/integration/api/api_v1/__init__.py
  src/tests/integration/api/api_v1/auth/__init__.py
  src/tests/integration/api/api_v1/auth/conftest.py
  src/tests/integration/api/api_v1/auth/mock_data.py
  src/tests/integration/api/api_v1/auth/test_get_me.py
  src/tests/integration/api/api_v1/auth/test_login.py
  src/tests/integration/api/api_v1/auth/test_logout.py
  src/tests/integration/api/api_v1/auth/test_refresh.py
Due: flake8, isort, black

Added classes
  src/tests/unit/api/api_v1/auth/test_encode_decode_jwt.py
  src/tests/unit/api/api_v1/auth/test_get_current_token_payload.py
Due: flake8, isort, black

Installed pytest-mock
  poetry.lock
  pyproject.toml
Due: none

Changed unittest.mock to pytest-mock
  src/tests/unit/api/api_v1/auth/test_get_current_token_payload.py
Due: flake8, isort, black

Changed unittest.mock to pytest-mock
  src/tests/integration/api/api_v1/auth/test_get_me.py
  src/tests/integration/api/api_v1/auth/test_login.py
  src/tests/integration/api/api_v1/auth/test_logout.py
  src/tests/integration/api/api_v1/auth/test_refresh.py
Due: flake8, isort, black

Added test for get_user_id
  src/tests/unit/api/api_v1/auth/conftest.py
  src/tests/unit/api/api_v1/auth/test_get_user_id.py
Due: flake8, isort, black

Added tests for test_get_user_id
  src/tests/unit/api/api_v1/auth/test_get_user_id.py
Due: flake8, isort, black

Added clearing RATE_LIMIT_DATA before test
  src/tests/integration/api/api_v1/auth/test_login.py
Due: flake8, isort, black

Added test rate_limited
  src/tests/unit/api/api_v1/auth/test_rate_limited.py
Due: flake8, isort, black

Fix: added typing
  src/tests/integration/api/api_v1/auth/test_get_me.py
  src/tests/integration/api/api_v1/auth/test_login.py
  src/tests/integration/api/api_v1/auth/test_logout.py
  src/tests/integration/api/api_v1/auth/test_refresh.py
  src/tests/unit/api/api_v1/auth/test_get_current_token_payload.py
  src/tests/unit/api/api_v1/auth/test_get_user_id.py
Due: flake8, isort, black

Added test create_jwt
  src/tests/unit/api/api_v1/auth/test_create_jwt.py
Due: flake8, isort, black

Added test get_jwt
  src/tests/unit/api/api_v1/auth/test_get_jwt.py
Due: flake8, isort, black

Added typing
  src/tests/unit/api/api_v1/auth/conftest.py
Due: flake8, isort, black

Added actions
  .github/workflows/LinterTests.yaml
  src/tests/utils/__init__.py
Due: flake8, isort, black

Updated actions
  .github/workflows/LinterTests.yaml
Due: none

Updated actions: added linters
  .github/workflows/LinterTests.yaml
Due: none

Updated actions: fixed errors
  .github/workflows/LinterTests.yaml
Due: none
